<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codingpp.myandroid">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAndroidTest">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".observerdemo.ObserveActivity" />
        <activity android:name=".socket.SocketActivity" />
        <activity android:name=".cleancache.CleanActivity" />
        <activity android:name=".handler.HandlerActivity" />
        <activity android:name=".thread.ThreadActivity" />
        <activity android:name=".thread.ui.AsyncTaskActivity" />
        <activity android:name=".thread.ui.CachedThreadPoolActivity" />
        <activity android:name=".thread.ui.DefaultThreadPoolActivity" />
        <activity android:name=".thread.ui.FixedThreadPoolActivity" />
        <activity android:name=".thread.ui.MyThreadPoolActivity" />
        <activity android:name=".thread.ui.ScheduledThreadPoolActivity" />
        <activity android:name=".thread.ui.SingleThreadExecutorActivity" />
        <activity android:name=".myviews.MyViewsActivity" />
        <activity android:name=".lifecycle.logsample.ScrollingActivity" />
        <activity android:name=".lifecycle.networksample.SampleActivity" />
        <activity android:name=".dispatchevent.DispatchActivity" />
        <activity android:name=".camera.CameraActivity" />
        <activity android:name=".camera.takephoto.TakePhotoActivity" />
    </application>

</manifest>